.messages {
    display: flex;
    height: 100%;
    gap: 10px;
}

.messages__names {
    /* background: linear-gradient(131.58deg, #FA93D2 1.34%, #895FE0 103.94%); */
    border-radius: 20px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 0 1 30%;
}

.messages__name {
    text-align: center;
    color: #fff;
    padding: 15px;
    background: #1d2680c7;
    border-radius: 15px;
}
.messages__names .active {
    color: #f0a7ff;
}
.messages__dialogs {
    flex: 0 1 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background: #f1d9d5;
    border-radius: 20px;
}

.messages__dialog {
    font-weight: bold;
    background: #F6F8FF;
    border-radius: 15px;
    padding: 10px;
}