.nav {
    background: #3D41D7;
    box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
    border-radius: 20px;
    padding: 41px 21px;
    height: 85vh;
    flex: 0 1 300px;
    text-align: center;
}
.nav__list {
    display: flex;
    gap: 55px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
}
.nav .nav__list .nav__item a {
    color: #D3D3FD;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.2px;
    transition: 0.5s ease;
}
.nav__item {
    transition: 0.5s ease;
}
.nav .nav__list .nav__item:hover {
    transform: scale(1.1);
}
.nav .nav__list .nav__item a:hover {
    color: #fff;
}